*{
	box-sizing: border-box;
	text-align: center;
}

.container {
	display: none;
}
body{
	background-color: darkseagreen;
}

.startQuiz{
 padding: 15px;
 width : 10%;
 background: pink;
 border: 1px solid blue;
}

#finished{
	padding: 15px;
	width : 10%;
	background: pink;
	border: 1px solid blue;

}

